@model List<VistaDepartamento>
@{
    ViewData["Title"] = "GrupoVIstaDepartamentos";

    int numRegistros = (int)ViewData["NUMREG"];
    int numPag = (int)ViewData["NUMPAG"];
    string html = "<div>";
   
}
@for (int i = 1; i <= numRegistros; i += 2)
{

    <a asp-asp-controller="Paginacion" asp-action="GrupoVIstaDepartamentos" asp-route-posicion="@i">Pagina: @numPag</a>
    numPag++;

}
<h1>GrupoVIstaDepartamentos PAginacion completa</h1>

<hr />
@Html.Raw(
html)
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Posicion</th>
            <th>IdDepartamento</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.posicion</td>
                <td>@item.IdDepartamento</td>
                <td>@item.Nombre</td>
                <td>@item.Localidad</td>
            </tr>
        }
    </tbody>

</table>