@model IEnumerable<MvcCorePaginacionRegistros.Models.Empleado>

@{
    ViewData["Title"] = "PaginarGrupoEmpleadosOficio";
    int numRegistros = 0;
    string oficio = "";
    int numPagina = 1;
    if(ViewData["REGISTROS"]!=null){
        numRegistros = (int) ViewData["REGISTROS"];
    }
    if(ViewData["OFICIO"]!=null){
        oficio =  ViewData["OFICIO"].ToString();
    }
    
}

<h1>Paginar Grupo Empleados por Oficio</h1>




<form method="post">
    <label>Introduzca oficio</label>
    <input type="text" name="oficio" />
    <button class="btn btn-warning" type="submit">Buscar Empleados</button>
</form>

@if(Model!=null){
    <ul class="list-group list-group-horizontal">
        @for (int i = 1; i <= numRegistros; i += 3)
        {
            <li class="list-group-item">
                <a asp-controller="Paginacion" asp-action="PaginarGrupoEmpleadosOficio" asp-route-oficio="@oficio" asp-route-posicion="@i">@numPagina</a>
            </li>
            numPagina++;
    }
    </ul>
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                     @item.Apellido
                </td>
                <td>
                        @item.Oficio)
                </td>
                <td>
                        @item.Salario
                </td>
                <td>
                        @item.IdDepartamento
                </td>
            </tr>
        }
    </tbody>
    </table>
}
